In [58]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as plt;
import seaborn as sns;
import os;
import time;
from PIL import Image;
from tqdm import tqdm;
import shutil;
%matplotlib inline

In [59]:
originals_path = './famous-art-512-sq/'

In [60]:
df = pd.DataFrame(os.listdir(originals_path))
df.columns = ['file_names']
df.head()

                                          file_names
0  Adolph-Von-Menzel-The-Flute-Concert-at-Sanssou...
1  Agnolo-Bronzino-Venus-Cupid-and-Time-Allegory-...
2  Albert-Bierstadt-Among-the-Sierra-Nevada-Mount...
3        Albert-Bierstadt-Deer-in-a-Clearing-S-2.jpg
4            Albert-Bierstadt-Forest-Sunrise-S-2.jpg

In [61]:
files_to_rename = df[df['file_names'].apply(lambda x: len(x.split('_')) > 1)]
files_to_rename

                                            file_names
11   Albert-Edelfelt-The-Artist_s-Son-Erik-in-his-P...
16   Albrecht-Durer-Portrait-of-a-Young-Venetian-Wo...
35              Andrew_Wyeth-Christina_s_World-S-2.jpg
38       Andy-Warhol-Campbell_S-Soup-Can-beef--S-2.jpg
39      Andy-Warhol-Campbell_S-Soup-Can-onion--S-2.jpg
..                                                 ...
873  Vincent-Van-Gogh-Vincent_s-Bedroom-in-Arles-4-...
877  Vincent_Van_Gogh-Bowl_with_Peonies_and_Roses-S...
878  Vincent_Van_Gogh-Branches_with_Almond_Blossom-...
879                    Vincent_Van_Gogh-Irises-S-2.jpg
880         Vincent_Van_Gogh-Willows_at_Sunset-S-2.jpg

[66 rows x 1 columns]

In [62]:
new_names = []
for i in files_to_rename['file_names']:
    new_names.append('.'.join(i.split('_')));
new_names

['Albert-Edelfelt-The-Artist.s-Son-Erik-in-his-Pram-S-2.jpg',
 'Albrecht-Durer-Portrait-of-a-Young-Venetian-Woman-S.002-2.jpg',
 'Andrew.Wyeth-Christina.s.World-S-2.jpg',
 'Andy-Warhol-Campbell.S-Soup-Can-beef--S-2.jpg',
 'Andy-Warhol-Campbell.S-Soup-Can-onion--S-2.jpg',
 'Andy.Warhol-Marilyn-S-2.jpg',
 'Arshile-Gorky-The-Liver-is-the-Cock.s-Comb--S-2.jpg',
 'Claes.Oldenburg-Lipstick.-.74.-S-2.jpg',
 'Claes.Oldenburg-Split.button-S-2.jpg',
 'Claes.Oldenburg-Store.poster-S-2.jpg',
 'Claude-Monet-The-Pont-de-l.Europe-Gare-Saint-Lazare-S-2.jpg',
 'Claude.Monet-le.bassin.aux.nympheas-S-2.jpg',
 'Edgar-Degas-The-Dance-Class-S.002-2.jpg',
 'EdouardManet-Olympia.Museed.Orsay.Paris(131x190CM)(1863)-S-2.jpg',
 'EdouardManet-Theabsinthedrinker.nycarlsbergglyptotek.co(1859-2.jpg',
 'Edvard-Munch-The-Scream-S.002-2.jpg',
 'Edvard.Munch-Kiss-S-2.jpg',
 'Edward.Hopper-Nighthawks.The.Art.Institute.of.Chicago.Chica--2.jpg',
 'Francisco.De.Goya-Saturn.Devouring.His.Son-S-2.jpg',
 'Francis.Bacon-painting.1946-S-2.jpg',
 'Francis.Bacon-Three.Studies.for.Figures.at.the.Base.of.a.Cru-2.jpg',
 'Georgia-O.keeffe-Light-of-Iris-S-2.jpg',
 'Georgia.O.keeffe-Blue.wave.maine-S-2.jpg',
 'Giorgio-De-Chirico-The-Child.s-Brain-S-2.jpg',
 'Giorgio.De.Chirico-Hector.and.Andromache-S-2.jpg',
 'Gustave.Caillebotte-The.Floor.Scrapers.also.known.as.The.Flo-2.jpg',
 'Gustav.Klimt-Bildnis.Fritza.Riedler.1906.-.Osterreichische.G-2.jpg',
 'HenriMatisse-L.AtelierrougeHuilesurToile-(181x219)-S-2.jpg',
 'Jasper.Johns-False.start-S-2.jpg',
 'Jean.Joseph.Benjamin.Constant-The.Throne.Room.In.Byzantium-S-2.jpg',
 'Jim.Dine-Braid-S-2.jpg',
 'Jim.Dine-Five.Feet.of.Colorful.Tools-S-2.jpg',
 'Jim.Dine-palette.II-S-2.jpg',
 'Jim.Dine-The.woodcut.bathrobe-S-2.jpg',
 'John.Atkinson.Grimshaw-Canny.Glasgow-S-2.jpg',
 'MarcChagall-IandtheVillage.MomaNY(192x151CM)(1911)-S-2.jpg',
 'Mel.Ramos-Manet.s.olympia-S-2.jpg',
 'Nicolas-Poussin-The-Poet.s-Inspiration-S-2.jpg',
 'Oskar-Kokoschka-Self-portrait-of-a-.Degenerate-Artist.-S-2.jpg',
 'Pablo-Picasso-At-the-.Lapin-Agile.-S-2.jpg',
 'Pablo.Picasso-Sabartes-S-2.jpg',
 'Paul-Gauguin-D.ou-venons-nous-Que-sommes-nous-Ou-allons-nous-2.jpg',
 'Paul-Gauguin-D.ou-venons-nous-Que-sommes-nous-Ou-allons-.002-2.jpg',
 'Paul-Gauguin-D.ou-venons-nous-Que-sommes-nous-Ou-allons-.003-2.jpg',
 'PaulCezanne-Thebayfroml.estaque.c.1886.artinst.ofchicago-S-2.jpg',
 'Peter.Paul.Rubens-The.Last.Judgement-S-2.jpg',
 'Peter.Phillips-Custom.Print.No..II-S-2.jpg',
 'Peter.Phillips-Impeller-S-2.jpg',
 'Peter.Phillips-Spectrocoupling-S-2.jpg',
 'Pierre-AugusteRenoir-DanceatBougival.oiloncanvas.MuseumofFin-2.jpg',
 'Pieter-Bruegel-The-Elder-Children.s-Games-2--S-2.jpg',
 'Rene.Magritte-The.Human.Condition-S-2.jpg',
 'Richard.Hamilton-War.games-S-2.jpg',
 'RossoFiorentino-MosesandJethro.sdaughters.(1523)-(160x117)-S-2.jpg',
 'Roy-Lichtenstein-Artist.s-studio-The-dance-sketch--S-2.jpg',
 'Roy.Lichtenstein-Drowning.girl-S-2.jpg',
 'Roy.Lichtenstein-Jet.pilot-S-2.jpg',
 'Salvador.Dali-The.Apotheosis.of.Homer.1944-45-S-2.jpg',
 'Sandro.Botticelli-The.Birth.of.Venus-S-2.jpg',
 'Vincent-Van-Gogh-Starry-Night-S.002-2.jpg',
 'Vincent-Van-Gogh-The-Potato-Eaters-S.002-2.jpg',
 'Vincent-Van-Gogh-Vincent.s-Bedroom-in-Arles-4--S-2.jpg',
 'Vincent.Van.Gogh-Bowl.with.Peonies.and.Roses-S-2.jpg',
 'Vincent.Van.Gogh-Branches.with.Almond.Blossom-S-2.jpg',
 'Vincent.Van.Gogh-Irises-S-2.jpg',
 'Vincent.Van.Gogh-Willows.at.Sunset-S-2.jpg']

In [63]:
files_to_rename['new_filenames'] = new_names;
files_to_rename['new_filenames'].head()

C:\Users\Shahbaz\AppData\Local\Temp\ipykernel_244\2744285891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  files_to_rename['new_filenames'] = new_names;

11    Albert-Edelfelt-The-Artist.s-Son-Erik-in-his-P...
16    Albrecht-Durer-Portrait-of-a-Young-Venetian-Wo...
35               Andrew.Wyeth-Christina.s.World-S-2.jpg
38        Andy-Warhol-Campbell.S-Soup-Can-beef--S-2.jpg
39       Andy-Warhol-Campbell.S-Soup-Can-onion--S-2.jpg
Name: new_filenames, dtype: object

In [64]:
files_to_rename = files_to_rename.reset_index(drop = True)

In [65]:
files_to_rename[files_to_rename['new_filenames'].apply(lambda x: len(x.split('_')) > 1)]

Empty DataFrame
Columns: [file_names, new_filenames]
Index: []

In [66]:
'''
to_rename = '.\\to_rename\\';
rename_lst = pd.Series(os.listdir(to_rename));
rename_lst[:5]
'''

"\nto_rename = '.\\to_rename\\';\nrename_lst = pd.Series(os.listdir(to_rename));\nrename_lst[:5]\n"

In [67]:
#rename_to = rename_lst.apply(lambda x: x.split('_')[0] + '--02_' + '_'.join(x.split('_')[1:]))

In [68]:

for i in range(len(files_to_rename)):
    filepath = originals_path + files_to_rename['file_names'][i];
    filename_to = originals_path + files_to_rename['new_filenames'][i];
    os.rename(src = filepath, dst = filename_to)

## Fixing Generated File Names as well \<sigh\>